.path-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  flex: 1;
}

.path-label {
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 0px;
}

.path-input {
  width: 80%;
}

.delete {
  padding: 10px 5px;
  /* padding-right: 15px; */
  height: 100%;
  background: #000;
  border-radius: 0 10px 10px 0;
  /* clip-path: polygon(0 0, 0 100%, 100% 50%); */
  transition: 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.delete:hover {
  background-color: #fb8080;
}
.delete:hover > .delete-btn {
  color: white !important;
}
.delete-btn {
  color: lightgray !important;
  background: transparent;
  transition: 0.3s;
}

/* .delete-btn {
  color: #fb8080 !important;
  background: white;
  border-radius: 50%;
  margin-left: 0;
  transition: 0.3s;
  cursor: pointer;
} */
/* .delete-btn:hover {
  color: #744040 !important;
} */
