.StoryBuilder {
	display: flex;
	flex-direction: row;
}

.Workspace {
	display: flex;
	flex-direction: column;
	font-family: "Monsterrat", sans-serif;
}

.story-node {
	background: dodgerblue;
	border: solid 1px white;
	border-radius: 5px;
	padding: 10px;
	width: 120px;
	height: 120px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.story-header {
	background: darkred;
}

.story-node > p {
	color: aliceblue;
	font-size: 10px;
	font-family: "Monsterrat", Arial, Helvetica, sans-serif;
}

.port-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.output-port {
	width: 100%;
	min-height: 20px;
	display: flex;
	flex-direction: row;
	font-size: 0.6em;
	justify-content: flex-start;
	align-items: center;
}
.port-answer {
	color: white;
	margin-left: 10px;
}

.circle-port {
	width: 12px;
	height: 12px;
	margin: 2px;
	border-radius: 4px;
	background: darkgray;
	cursor: pointer;
}

.circle-port:hover {
	background: mediumpurple;
}
