.option-port {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.out-port {
  height: 20px;
  margin-right: 0px;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: auto;
  display: inline-block;
}
.out-text {
  margin-left: 0px;
  margin-right: auto;
  display: inline-block;
  padding: 0px 10px 0px 10px;
}

.port-img {
  cursor: pointer;
  border-top: 8px solid transparent;
  border-left: 10px solid #555;
  border-bottom: 8px solid transparent;
}
.port-img:hover {
  border-left: 10px solid slategray;
}

.delete-option {
  border-radius: 100%;
  background-color: tomato;
  color: white;
  border-color: white;
  border-style: solid;
  height: fit-content;
  width: fit-content;
  margin-top: auto;
  margin-left: -10px;
}
.delete-option:hover {
  background-color: red;
  cursor: pointer;
}
.ml0 {
  margin-left: -11px;
}
