.env
.vscode/
secrets/
venv/
__pycache__/
# Elastic Beanstalk
.elasticbeanstalk

# Frontend
node_modules/
build/

# Database Server
database/catalog/*.json

# Alexa
alexa/

# App Engine
app.yaml

# SQL Dumps
*.psql

# Key for cloud storage
database/storage-key.json
*.pyc

