/*Login.css*/
#LoginWithAmazon {
  padding: 20px;
  display: flex;
  justify-content: center;
}
#textbox {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-bottom: 30vh;
  align-items: center;
}
.login-container {
  border: outset 2px;
  border-radius: 20px;
  min-width: 400px;
  width: 30vw;
  padding: 30px;
  background: #ebebeb;
}

.centered-text {
  text-align: center;
}
