/*Login.css*/
#LoginWithAmazon {
  padding: 20px;
  display: flex;
  justify-content: center;
}
#textbox {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-bottom: 30vh;
  align-items: center;
}

.text-primary {
  text-align: center;
  font-family: "Monsterrat", sans-serif;
  padding: 20px;
  color: dimgrey !important;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#login-container {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  flex-direction: column;
}
.g-signin2 > div {
  margin: auto;
}
