.Story-Viewer {
  min-height: 100vh;
}

.publish-status {
  color: rgb(122, 122, 122);
  border: solid 1px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: min-content;
}
.publish-status-published {
  color: rgb(6, 209, 97);
}
.publish-status-pending {
  color: rgb(219, 143, 0);
}
