.Story-Viewer {
  min-height: 100vh;
}

.status {
  color: rgb(122, 122, 122);
  border: solid 1px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: max-content;
}
.status-primary {
  color: #31c4f3;
}
.status-success {
  color: rgb(6, 209, 97);
}
.status-pending {
  color: rgb(219, 143, 0);
}
.status-danger {
  color: rgb(199, 25, 25);
}
