
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
cloud_sql_proxy.exe
startup.sh
.env* 

#GCP File
app.yaml
app/config.py

# SQLite Databases
*.db
