.Story-Details {
  width: 80vw;
  padding: 30px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  padding: 10px 0;
}

.input-group > input,
.input-group > textarea {
  border-radius: 10px;
  padding: 10px;
}

#description {
  height: 20vh;
}

.uneditable-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px 0;
}
.info {
  margin-right: 5vw;
}
.options {
  margin: 20px 0;
}

.btn-alert {
  background-color: rgb(199, 25, 25) !important;
  margin: 15px;
}
