.Story-Details {
  min-height: 100vh;
}

.details-form {
  width: 80vw;
  padding: 0px 30px 30px 30px;
  align-content: center;
  overflow: scroll;
  height: 90vh;
}
.input-labels {
  font-family: "Montserrat", sans-serif;
}
.info {
  margin-bottom: 5vh;
}
.uneditable-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px 0;
}

#summary {
  min-height: 20vh;
}

.uneditable-info > .status {
  margin-right: 20px;
}

.button-section {
  margin-top: 20px;
}
