.form {
  width: 80vw;
  background: #31c4f3;
  color: white;
  padding: 0 30px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  padding: 10px 0;
}

.input-group > input,
.input-group > textarea {
  border-radius: 10px;
  padding: 10px;
}

#description {
  height: 20vh;
}

.uneditable-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px 0;
}
.info {
  margin-right: 5vw;
}
.options {
  margin: 20px 0;
}
