.node-text {
  font-family: "Monsterrat", sans-serif;
  color: white;
  font-size: 12px;
  margin: 0;
  word-break: break-word;
}
.story-node {
  background: #31c4f3;
  border: solid 2px black;
  border-radius: 5px;
  padding: 1px;
  width: 175px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.story-node-start {
  background: darkred;
}
.node-header {
  background-color: #2dacd6;
  flex-grow: 1;
  width: 100%;
  padding: 3px 1px;
}
.start-node-header {
  background: rgb(77, 5, 5);
}
.input-port-container {
  width: 100%;
  height: 15px;
}
.node-footer {
  border-top: 1px solid #000;
  width: 100%;
  height: 100%;
  padding-bottom: 5px;
  display: flex;
  flex: 1;
  flex-direction: row;
  background-color: transparent;
}
.question {
  width: 50%;
}
.output-port-container {
  border-left: 1px solid #000;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-end;
  align-items: flex-end;
}
.output-port-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 1px;
}
.output-port-wrapper > .port {
  display: inline-block;
}
.port-answer {
  color: white;
  width: 100%;
  margin-right: 0px !important;
  display: inline-block;
}
.port {
  width: 100%;
  height: 15px;
  background: transparent;
  cursor: pointer;
  display: inline-block;
}
.output-port {
  background: rgba(255, 255, 255, 0.3);
}

.port:hover {
  background-color: mediumpurple;
}
/* .node-text {
  font-family: "Monsterrat", sans-serif;
  color: white;
  font-size: 12px;
  margin: 0;
  word-break: break-all;
}
.story-node {
  background: #31c4f3;
  border: solid 2px black;
  border-radius: 5px;
  padding: 1px;
  width: 125px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.story-node-start {
  background: darkred;
}
.node-header {
  background-color: #2dacd6;
  flex-grow: 1;
  width: 100%;
  padding: 3px 1px;
}
.start-node-header {
  background: rgb(77, 5, 5);
}
.input-port-container {
  width: 100%;
  height: 15px;
}
.node-footer {
  border-top: 1px solid #000;
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: row;
  background-color: transparent;
}
.question {
  width: 50%;
}
.output-port-container {
  border-left: 1px solid #000;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-end;
  align-items: flex-end;
}
.output-port-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 1px;
}
.output-port-wrapper > .port {
  width: 50%;
  display: inline-block;
}
.port-answer {
  color: white;
  width: 50%;
  margin-right: 0px !important;
  display: inline-block;
}

.port {
  width: 100%;
  height: 15px;
  background: transparent;
  cursor: pointer;
  display: inline-block;
}
.output-port {
  background: rgba(255, 255, 255, 0.3);
}

.port:hover {
  background-color: mediumpurple;
} */
