.path-group {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 10px;
}

.path-label {
	padding-left: 5px;
	padding-right: 5px;
}

.path-input {
	width: 80%;
}

#delete-btn {
	color: #fb8080 !important;
	background: white;
	border-radius: 50%;
	margin-left: 5px;
	transition: 0.3s;
}
#delete-btn:hover {
	color: #744040 !important;
}

/* .delete-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(251, 128, 128, 1);
	width: 15px;
	height: 15px;
	border-radius: 50%;
	padding: 5px;
	margin-left: 5px;

	color: white;

	font-family: "Monsterrat", sans-serif;
	font-weight: bold;
} */
