body {
	margin: 0;
	font-family: Gentium Basic, serif;
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

textarea,
input {
	font-family: Gentium Basic, serif;
	font-size: 14px;
	/* font-family: "Monsterrat", sans-serif; */
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
