#canvas {
  border-width: 2px;
  border-style: dashed;
  border-color: aliceblue;
  width: 80vw;
  height: 90vh;
  z-index: 1;
}
.node {
  background: rgb(45, 223, 255);
  width: 50px;
  height: 50px;
}
.drag {
  background: red;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
svg {
  overflow: visible;
}
