.Toolbar {
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.toolbar-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

#Add-Btn {
  color: #1d809f;
  /* border-radius: 50%; */
  margin-left: 20px;
  /* width: 80px;
  height: 80px; */
  margin-right: auto;
}

#Add-Btn:hover {
  color: #155d74;
}

.Submit-Btn {
  /* background-color: #1d809f;
  color: white;
  padding: 14px;
  border-radius: 25px; */
  font-size: 1.2rem;
}

.Submit-Btn:hover {
  background-color: #19586d;
}
