.Toolbar {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

#Add-Btn {
  color: #31c4f3;
  /* border-radius: 50%; */
  margin-left: 20px;
  /* width: 80px;
	height: 80px; */
}

#Add-Btn:hover {
  color: #19586d;
}

#Submit-Btn {
  background-color: #31c4f3;
  color: white;
  margin-right: 20px;
  padding: 14px;
  border-radius: 25px;
  font-size: 1.6rem;
}

#Submit-Btn:hover {
  background-color: #19586d;
}
