.question-preview {
  align-content: center;
  margin: auto;
  font-family: "Montserrat";
  font-weight: bold;
}

.main-text-preview {
  text-align: left;
  font-family: "Montserrat";
}

.title-text-preview {
  font-family: "Montserrat";
}
